<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../pw-todo-item/pw-todo-item.html">

<dom-module id="pw-todo-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-repeat" items="[[items]]" as="item">
      <pw-todo-item value="[[item.value]]" done="[[item.done]]"></pw-todo-item>
    </template>
    <h2>Hello [[prop1]]!</h2>
    <pw-todo-item value="Comer"></pw-todo-item>
  </template>

  <script>
    /**
     * `pw-todo-list`
     * elementos de la lista
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodoList extends Polymer.Element {
      static get is() { return 'pw-todo-list'; }
      static get properties() {
        return {
          items: {
            type: Array
            
          }
        };
      }
    }

    window.customElements.define(PwTodoList.is, PwTodoList);
  </script>
</dom-module>
